<div class="row-fluid">
  <div class="span5">
    <h1>Inbox</h1>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Sent at</th>
        </tr>
      </thead>
      <tbody>
        <% @letters.each do |letter| %>
          <tr>
            <td><%= letter.id %></td>
            <td><%= letter.sent_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="span7">
    <div class="alert">
      Here goes an iframe
    </div>
  </div>
</div>
